/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Pham Tuan Vy
ID: 3989482
Acknowledgement: Acknowledge the resources that you use here. */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --lightrey: #e3e6f3;

}
*{
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;    
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body { 
    width: 100%;
}

.section-p1 {
    padding: 40px 80px;

}

.section-m1 {
    padding: 40px 0;
}

button.button1{
    font-size: 14px;
    font-weight: 700;
    padding: 15px 30px;
    color: black;
    background-color: #f5f3f3;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .3s;
}

button.button2{
    font-size: 13px;
    font-weight: 700;
    padding: 15px 30px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: .3s;
}

header .logo {
    width: 10px;
    height: 10px;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: var(--lightrey);
    box-shadow: 0 5px 15px rgba(0,0,0,.07);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header .logo{
    width: 110px;
    height: 60px;
    border: #222;
    box-sizing: border-box;
    border-radius: 10px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #1a1a1a;
    transition: .3s ease ;
}

#navbar li a:hover,
#navbar li a.active{
    color: #0d6dc0;

}

#navbar li a.active::after, 
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background:#0d6dc0 ;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: .3s ease;
}
#tablet {
    display:none ;
    align-items: center;
}
#close {
    display: none;
}

/* Home Page*/

#main {
    background-image: url("Images/Main/main2.jpg");
    height: 92vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#main h4 {
    padding-bottom: 15px;
    color: #00b7ff;
    font-weight: 1000;
}
#main h1 {

    color: #00b7ff;
}
#main h2 {
    color: white;
    padding-bottom: 18px;
}
#main p {
    color: white;
}
#main button {    
    background-color: rgb(255, 255, 255) ;
    color: red;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat:no-repeat ;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}

#main button:hover {
    background-color: #00b7ff;
    font-weight: 1000;
    transition: .3s;
    color: black;
}
/* Featured Books */

#book-container {
    text-align: center;
}

#book-container .book{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
}

#book-container .book1 {
    width: 22%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,.07);
    margin: 15px 0;
    transition: 0.3s ease;
}

#book-container .book1:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,.15);


}
#book-container .book1 img{
    width: 100%;
    border-radius: 20px;

}
#book-container .book1 a{
    color: #424241;
}

#book-container .book1 .infor {
    text-align: center;
    padding: 10px 0;
}

#book-container .book1 .infor span {
    color: #868282;
    font-size: 16px;
}

#book-container .book1 i{
    color: #FFEF00;
}

#book-container .book1 h6{
    padding-top: 7px;
    font-size: 18px;
    font-weight: 600;
    color: #424241;
}

#book-container .book1 .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #535350;
}

#banner {

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align: center;
    background-image: url("Images/Banner/banner1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;    
}

#banner h2 {
    color: white;
    padding: 10px;
    font-size: 30px;

}

#banner h4 {
    color: rgb(245, 7, 7);
    text-decoration: underline;
    font-size: 16px;

}

#banner h6 {
    color: rgba(255, 255, 255, 0.459);
    padding: 10px;

}

#banner span {
    color: red;
}

#banner button {
    margin: 12px 0 ;
}

#banner button:hover {
    background-color: #00b7ff;
    font-weight: 1000;
    transition: .3s;
}
#smallbanner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

#smallbanner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-image: url("Images/Banner/banner3.avif");
    min-width: 580px;
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: center;
    padding:40px;
    
}
#smallbanner h4{
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 15px;

}

#smallbanner h2{
    color: rgb(20, 20, 20);
    font-size: 100px; 
    padding-bottom: 50px;
    text-decoration: underline;
    text-transform: uppercase;
}

#smallbanner .banner-box .button2:hover{
    background-color: #00b7ff;
    font-weight: 1000;
    transition: .3s;
}

#smallbanner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;   
    background-image: url("Images/Banner/banner4.avif");
    width: 100%;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

#smallbanner .banner-box2 h4{
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 15px;

}

#smallbanner .banner-box2 h2{
    color: rgb(20, 20, 20);
    font-size: 60px; 
    padding-bottom: 50px;
    text-decoration: underline;
    text-transform: uppercase;

}

#smallbanner .banner-box2 .button2:hover{
    background-color: #00b7ff;
    font-weight: 1000;
    transition: .3s;
}


 #footer-section {
    display: flex;
    align-items: center;
    justify-content:space-between;
 }


#footer-section .col1{
    height: 30vh;
    width: 50vh;
}
#footer-section h4{
    font-size: 17px;
    padding-bottom: 16px;
    color: #00b7ff;

}
#footer-section a{ 
    font-size: 17px;
    text-decoration: none;
    color: #00b7ff;
    margin: 0 0 8px 0;

}
#footer-section p{ 
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin: 0 0 8px 0;

}
#footer-section {
    background-color:var(--lightrey) ;
}
#footer-section .col3 a {
    color: black;
}

/* Shop Page */

#page-header {
    background-image: url("Images/Banner/banner1.avif");
    width: 100%;
    height: 17vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

/* Single Product */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-detail{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-detail h4{
    padding: 40px 0 20px 0;
    font-size: 40px;
}

#prodetails .single-pro-detail h2{
    font-size: 46px;
}

#prodetails .single-pro-detail input{
    width: 50%;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-detail input:focus{
    outline: none;
}

#prodetails .single-pro-detail span{
    line-height: 25px;
    font-size: 20px;

}

.small-img-group{
    display: flex;
    justify-content: space-between;

}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;

}

.small-img-col {
    flex-basis: 32%;
    cursor: pointer;
}

/* Contact Page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span{
    font-size: 22px;
}

#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    font-size: 14px;
    margin: 0;
}

#contact-details .map {
    width: 55%;
    height: 450px;
}

/* Cart Page */

#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding:18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #00b7ff;
    color: #1a1a1a;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50px;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px ;
}




/* Meadia Tablet Querry */

@media (max-width:992px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0 green,0 blue,.5 alpha);
        padding: 80px 0 0 10px;
        transition: .3s ;
    }
    
    #navbar.active{
        right: 0px; 
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #tablet {
        display:flex ;
        align-items: center;
    }

    #tablet i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left:20px;
    }

    #close{
        position:absolute;
        display: initial;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 14px;
    }
    #lg-bag{
        display: none;
    }

    #main {
        
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
        text-align: center;
    }

    #book-container .book {
    
        justify-content: center;
    }

    #book-container .book1 {      
        margin: 15px;
    }

    #banner {
        height: 24vh;

    }

    #smallbanner .banner-box {
       
        min-width: 100%;
        height: 30vh;
    
    }

    #smallbanner .banner-box2 {
        min-width: 100%;
        height: 35vh;
    }

    #smallbanner h2 {
        font-size: 50px;
        padding-bottom: 50px;

    }

    #footer-section .col1 {
        height: 17vh;
        width: 22vh;
    }
 }

 

 #contact-details .map iframe{
        width:100% ;
 }

 /* Media Phone Querry*/

@media (max-width:767px){
    #header {
        padding: 10px 30px;

    } 
    #main {
        padding: 0, 20px;
        background-position: 55%;
        text-align: center;
    }

    h2 {
        font-size: 32px;
    } 

    h1{
        font-size: 38px;
    }

    #book-container .book1 {
        width: 100%;
    }

    #banner {
        height: 35vh;
        width: 100%;
    }

    #smallbanner .banner-box {
        height: 40vh;
        text-align: center;
    }

    #smallbanner h2 {
    
        padding: 15px;
        text-decoration: underline;
        text-transform: uppercase;
    }

    #smallbanner .banner-box2 {
        margin-top: 30px;
        height: 70vh;
        text-align:center;

    }

    #smallbanner .banner-box2 h2 {
        font-size: 40px;
        padding-bottom: 50px;
    }

    #footer-section .col1 {
        height: 15vh;
        padding-bottom: 12px;
    }

    #footer-section {
        display: list-item;
    }

    #footer-section h4 {
        padding-bottom: 7px;
    }

    h4 {
    padding-top:12px ;
    padding-bottom: 7px;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }
    
    #prodetails .single-pro-image {
        width: 100%;
        margin-top: 0px;
    }

    #prodetails .single-pro-detail {
        width: 100%;
    
    }
    
    #contact-details {
    
        flex-direction: column;
        

        
    }
    
    #contact-details .details{
       width: 100%;
       margin-bottom: 30px;
    }
    #contact-details .map iframe{
        width:100% ;
 }

 /* Cart Page */

 #cart-add {
    flex-direction: column;
 }
 #coupon {
    width: 100%;
 }

#subtotal {
    width: 100%;   
    padding:20px;
}



}